*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
    transition: 0.3s;
}
li{
    list-style: none;
}
img { display: block;}
/* modal */
#modal{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.603);
    z-index: 200;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease
}
#modal:target{
    opacity: 1;
    visibility: visible;
}
#modal:target .modal__okno{
    transform: translateY(0px);
    opacity: 1;
}
.modal__okno{
    font-family: Raleway;
    position: relative;
    background: white;
    padding: 72px 98px;
    transform: translateY(-100%);
    opacity: 0;
    transition: all 1s ease;
}
.modal__header{
    position: absolute;
    top: 20px;
    right: 20px;
}
.modal__title{
    text-align: center;
    font-size: 44px;
    font-weight: 800;
    font-family: Raleway;
    color: #282E3F;
}
.modal__form{
    width: 444px;
    margin-top: 63px;
    display: flex;
    flex-direction: column;
}
.categorys__title{
    font-size: 16px;
    font-weight: 400;
    color: #6A7082;
}
.categorys_buttons{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
.form_radio_btn {
	display: inline-block;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
    font-size: 12px;
	display: inline-block;
	cursor: pointer;
	padding: 8px 26px;
	border: 1px solid #282E3F;
	border-radius: 31px;
	user-select: none;
    transition: 0.3s;
}

.form_radio_btn input[type=radio]:checked + label {
	background: #282E3F;
    color: white;
}
 
.form_radio_btn label:hover {
	color: white;
    background: #282E3F;
}
 
.form_radio_btn input[type=radio]:disabled + label {
    background: #282E3F;
    color: #6A7082;
}
.form__pole{
    margin-top: 32px;
    background: none;
    font-size: 16px;
    font-weight: 300;
    color: #6A7082;
    padding: 18px 0;
    padding-left: 19px;
    border: none;
    border-bottom: 1px solid #282E3F;
    outline: none;
}

.input-file {
	position: relative;
	display: flex;
    justify-content: end;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	font-size: 12px;
	vertical-align: middle;
	color: black;
	text-align: center;
	border-radius: 31px;
	background-color: none;
	padding: 7px 23px;
	box-sizing: border-box;
	border: 1px solid #282E3F;
	margin: 0;
	transition: background-color 0.2s;
    margin-top: 15px;
}
.input-file span:hover{
    background: #282E3F;
    color: white;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.button__form__pole{
    margin-top: 63px;
    display: flex;
    justify-content: center;
}
.form__btn{
    background: none;
    z-index: 1;
    padding: 20px 55px;
    font-size: 14px;
    font-weight: 500;
    color: #282E3F;
    border: 1px solid #282E3F;
    position: relative;
    transition: 0.3s;
}
.form__btn:hover::after{
    width: 100%;
}
.form__btn:hover{
    color: white;
}
.form__btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: #282E3F;
    transition: width 0.3s ease-in-out;
}
/* header */
header{
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.header-border{
    border-bottom: 1px solid rgb(163, 163, 163);
}
.header__inner{
    max-width: 1420px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-header ul{
    display: flex;
    gap: 71px;
}
.menu-header ul li{
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    position: relative;
    padding: 3px 0;
}
.menu-header ul li:hover::after{
    width: 100%;
}
.menu-header ul li:hover a{
    color: #282E3F;
}
.menu-header ul li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 3px;
    border-radius: 100px;
    background: #282E3F;
    transition: width .5s ease-in-out;
}
@media(max-width: 1420px){
    .header__inner{
        margin: 0 20px;
    }
}

/* главная */
.section{
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 268px;
}
.section__title{
    width: 655px;
    font-size: 61px;
    font-family: Raleway;
    font-weight: 800;
    color: #282E3F;
}
.section__text{
    width: 655px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-top: 33px;
}
.section__column a{
    display: block;
    margin-top: 67px;
    width: 220px;
    padding: 20px 0;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 500;
    text-align: center;
    border: 1px solid #282E3F;
    position: relative;
    transition: 0.3s;
}
.section__column a:hover::before{
    width: 100%;
}
.section__column a:hover{
    color: white;
}
.section__column a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: #282E3F;
    transition: width 0.3s ease-in-out;
}
.section__column2{
    background: #000;
    width: 479px;
    height: 595px;
}
/* проекты */
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 168px;
}

.section-item {
    position: relative;
    overflow: hidden;
}
.section-item:hover .section-item-hover{
    transform: translateY(0);
}
.section-item img {
    width: 100%;
}

.section-item-hover {
    transition: all 0.3s ease;
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #282E3F;
    padding: 0 57px;
}
.section-item-subtitle{
    margin-top: 60px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.section-item-title{
    line-height: 99.9%;
    margin-top: 10px;
    padding-right: 124px;
    color: white;
    font-size: calc(47px - 47 * (1px - 100vw / 1920));
    font-weight: 700;
    font-family: Raleway;
}
.section-item-row{
    display: flex;
    justify-content: space-between;
}
.item-but{
    display: block;
    color: white;
    text-align: center;
    width: 157px;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 500;
    font-family: Raleway;
    border: 1px solid white;
    position: relative;
    transition: 0.3s;
}
.item-but:hover::before{
    width: 100%;
}
.item-but:hover{
    color: #000;
}
.item-but::before{
    transition: width 0.3s ease-in-out;
    content: "";
    z-index: -1;
    width: 0;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
}
/* footer */
footer{
    max-width: 1420px;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.menu-footer ul{
    display: flex;
    gap: 71px;
}
.menu-footer ul li{
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    list-style: none;
    position: relative;
    padding: 3px 0;
}
.menu-footer ul li:hover::after{
    width: 100%;
}
.menu-footer ul li:hover a{
    color: #282E3F;
}
.menu-footer ul li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 3px;
    border-radius: 100px;
    background: #282E3F;
    transition: width .5s ease-in-out;
}
@media(max-width: 1420px){
    footer{
        margin: 0 20px;
    }
}


/* ------projects------ */
.projects{
    margin-top: 133px;
}
.projects-header{
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__title{
    color: #282E3F;
    font-size: 61px;
    font-weight: 800;
    font-family: Raleway;
}
.filter{
    font-size: 16px;
    font-weight: 700;
    font-family: Raleway;
    color: #000;
}
.projects-header__column__inner{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.projects-header__column__menu{
    position: relative;
}
.projects-header__column__menu:hover .projects-header__column__submenu{
    opacity: 1;
    visibility: visible;
}
.projects-header__menu_arrow{
    transition: 0.5s;
}
.projects-header__column__menu:hover .projects-header__menu_arrow{
    transform: rotate(180deg);
}
.projects-header__column__submenu{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    top: 20px;
    visibility: hidden;
}
.projects-header__column__menu li{
    display: flex;
    align-items: center;
    gap: 12px;
}
.projects-header__column__submenu li a{
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
}
.projects-header__column__menu li a{
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
}
.projects__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 66px;
}


/* -------about_us------ */
.about{
    max-width: 1420px;
    margin: auto;
    margin-top: 185px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about__title{
    font-size: 61px;
    font-weight: 800;
    font-family: Raleway;
    color: #282E3F;
}
.about__subname{
    width: 655px;
    font-size: 16px;
    font-weight: 400;
    font-family: Raleway;
    color: #000;
    margin-top: 30px;
}
.about__dots{
    margin-top: 57px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.about__dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    border: 1px solid #282E3F;
    padding: 16px 0;
    transition: 0.3s;
}
.about__dot:hover{
    background: #282E3F;
}
.about__dot:hover svg{
    fill: #fff;
}



/* --------project--------*/
.project-banner{
    width: 100%;
}
.project-banner img{
    width: 100%;
}
.project-wrapper{
    max-width: 1420px;
    margin: 0 auto;
    margin-top: 76px;
}
.project-subname{
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.project-name{
    margin-top: 7px;
    font-size: 49px;
    font-weight: 800;
    font-family: Raleway;
    color: #282E3F;
}
.task{
    font-size: 20px;
    color: #000;
    font-family: Raleway;
    font-weight: 800;
    margin-top: 88px;
}
.task-text{
    width: 720px;
    color: #000;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 500;
    margin-top: 31px;
}
.project-img{
    margin-top: 115px;
}
.project-img img{
    width: 100%;
}
.project-img__text{
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    margin-top: 59px;
    width: 715px;
}
.project-row{
    display: flex;
    justify-content: space-between;
    margin-top: 369px;
    margin-bottom: 353px;
    font-size: 16px;
    font-family: Raleway;
}
.project-info{
    display: flex;
    flex-direction: column;
    gap: 11px;
}
.project-info__text{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.project-info__name{
    font-weight: 500;
}
.project-column{
    display: flex;
    gap: 63px;
}

