*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
img { display: block;}
/* header */
header{
    max-width: 1420px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.menu-header ul{
    display: flex;
    gap: 71px;
}
.menu-header ul li{
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    position: relative;
    padding: 3px 0;
}
.menu-header ul li:hover::after{
    width: 100%;
}
.menu-header ul li:hover a{
    color: #282E3F;
}
.menu-header ul li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 3px;
    border-radius: 100px;
    background: #282E3F;
    transition: width .5s ease-in-out;
}
/* главная */
.section{
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 168px;
}
.section__title{
    width: 655px;
    font-size: 61px;
    font-family: Raleway;
    font-weight: 800;
    color: #282E3F;
}
.section__text{
    width: 655px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin-top: 33px;
}
.section__column a{
    display: block;
    margin-top: 67px;
    width: 220px;
    padding: 20px 0;
    font-size: 14px;
    font-family: Raleway;
    font-weight: 400;
    text-align: center;
    border: 1px solid #282E3F;
    position: relative;
    transition: 0.3s;
}
.section__column a:hover::before{
    width: 100%;
}
.section__column a:hover{
    color: white;
}
.section__column a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: -1;
    background: #282E3F;
    transition: width 0.3s ease-in-out;
}
.section__column2{
    background: #000;
    width: 479px;
    height: 595px;
}
/* проекты */
.section2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 168px;
}

.section-item {
    position: relative;
    overflow: hidden;
}
.section-item:hover .section-item-hover{
    transform: translateY(0);
}
.section-item img {
    width: 100%;
}

.section-item-hover {
    transition: all 0.3s ease;
    position: absolute;
    transform: translateY(-100%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: #282E3F;
    padding: 0 57px;
}
.section-item-subtitle{
    margin-top: 60px;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    color: white;
}
.section-item-title{
    line-height: 99.9%;
    margin-top: 10px;
    padding-right: 124px;
    color: white;
    font-size: calc(47px - 47 * (1px - 100vw / 1920));
    font-weight: 700;
    font-family: Raleway;
}
.section-item-row{
    display: flex;
    justify-content: space-between;
}
.item-but{
    display: block;
    color: white;
    text-align: center;
    width: 157px;
    padding: 16px 0;
    font-size: 12px;
    font-weight: 500;
    font-family: Raleway;
    border: 1px solid white;
    position: relative;
    transition: 0.3s;
}
.item-but:hover::before{
    width: 100%;
}
.item-but:hover{
    color: #000;
}
.item-but::before{
    transition: width 0.3s ease-in-out;
    content: "";
    z-index: -1;
    width: 0;
    height: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 0;
}
/* footer */
footer{
    max-width: 1420px;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
}
.menu-footer ul{
    display: flex;
    gap: 71px;
}
.menu-footer ul li{
    font-size: 16px;
    font-family: Raleway;
    font-weight: 500;
    list-style: none;
    position: relative;
    padding: 3px 0;
}
.menu-footer ul li:hover::after{
    width: 100%;
}
.menu-footer ul li:hover a{
    color: #282E3F;
}
.menu-footer ul li::after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    bottom: 0;
    height: 3px;
    border-radius: 100px;
    background: #282E3F;
    transition: width .5s ease-in-out;
}



/* ------projects------ */
.projects{
    margin-top: 133px;
}
.projects-header{
    max-width: 1420px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.projects__title{
    color: #282E3F;
    font-size: 61px;
    font-weight: 800;
    font-family: Raleway;
}
.filter{
    font-size: 16px;
    font-weight: 700;
    font-family: Raleway;
    color: #000;
}
.projects-header__column__inner{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.projects-header__column__menu{
    position: relative;
}
.projects-header__column__menu:hover .projects-header__column__submenu{
    opacity: 1;
    visibility: visible;
}
.projects-header__menu_arrow{
    transition: 0.5s;
}
.projects-header__column__menu:hover .projects-header__menu_arrow{
    transform: rotate(180deg);
}
.projects-header__column__submenu{
    position: absolute;
    opacity: 0;
    transition: 0.3s;
    top: 20px;
    visibility: hidden;
}
.projects-header__column__menu li{
    display: flex;
    align-items: center;
    gap: 12px;
}
.projects-header__column__submenu li a{
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
}
.projects-header__column__menu li a{
    font-size: 16px;
    font-weight: 500;
    font-family: Raleway;
}
.projects__items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 66px;
}